@page "/Locations/edit"
@inject DataLayer.Common.RentACarDbContext DB
@using Bussines_Layer.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Location</h4>
<hr />
@if (Location is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Location" OnValidSubmit="UpdateLocation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Location.Id" value="@Location.Id" />
                <div class="mb-3">
                    <label for="adress" class="form-label">Adress:</label>
                    <InputText id="adress" @bind-Value="Location.Adress" class="form-control" />
                    <ValidationMessage For="() => Location.Adress" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="town" class="form-label">Town:</label>
                    <InputText id="town" @bind-Value="Location.Town" class="form-control" />
                    <ValidationMessage For="() => Location.Town" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/locations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Location? Location { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Location ??= await DB.Locations.FirstOrDefaultAsync(m => m.Id == Id);

        if (Location is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateLocation()
    {
        DB.Attach(Location!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!LocationExists(Location!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/locations");
    }

    bool LocationExists(int id)
    {
        return DB.Locations.Any(e => e.Id == id);
    }
}
